html, body {-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
background-color: #fff;color: #636b6f;font-family: 'Raleway', sans-serif;font-weight: 100;margin: 0; padding: 0px; background: #f1f1f1}
.center{ text-align: center; }
.hoz-center{ position: absolute; top: 50%; left: 0px; width: 100%; -webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);
    -o-transform: translateY(-50%); transform: translateY(-50%); }
input[type="text"], select, input[type="email"], input[type="tel"], input[type="password"], textarea {
    font-family: 'Roboto', sans-serif;
    border: 1px solid #D8D7D7;
    border-radius: 2px;
    opacity: 0.8;
    font-size: 16px;
    color: #303030;
    letter-spacing: 0;
    height: 52px!important;
    padding: 0 25px;
    -webkit-appearance: none;
    box-shadow: none;
    float: left;
    width: 100%;
    margin-bottom: 7px;
}


textarea{ height: 150px!important; resize: none; overflow: auto; }


.btn{ min-width: 150px; height: 40px; height: 50px; text-align:center; font-weight: 700; font-size: 18px; background: #719430; border: none; padding-top: 11px; text-transform: uppercase}
.btn.btn-primary{background: #719430;}
.btn.btn-primary:hover{ background:#333333 ;}
input.btn,button.btn{ text-transform: uppercase; padding: 0px; }
h4{ font-weight: 700; font-size: 21px; }
h5{ font-weight: 700; font-size: 18px; line-height: 32px;}
.trm-btn{ color: #719430; text-decoration: none;font-weight: 600;}
.trm-btn:hover{text-decoration: none;}

.landing-body:before{ content: ""; background-color: rgba(0,0,0,.8); position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
.full-height {height: 100vh;}
.flex-center {align-items: center;display: flex;justify-content: center;}
.position-ref {position: relative;}
.landing-btn {float: left;width: 100%;margin-top: 50px;}
.landing-btn a{color: #fff;padding: 11px 35px;font-size: 20px;font-weight: 600;letter-spacing: .1rem;text-decoration: none;
text-transform: uppercase; position: relative; border:solid 2px #719430; display: inline-block; vertical-align: top; border-radius: 30px; min-width:250px ;transition: all 1s ease;
    -o-transition: all 1s ease;-webkit-transition: all 1s ease;transition: all 1s ease;}
.landing-btn a:hover{ background:#719430;}
.content {text-align: center;}
.title {font-size: 84px;}
.links > a {color: #fff;padding: 0 25px;font-size: 16px;font-weight: 600;letter-spacing: .1rem;text-decoration: none;text-transform: uppercase; position: relative;}
.m-b-md {margin-bottom: 30px;}
.links > a:after{content: ""; position:absolute; background:#719430; width: 7px;  height: 7px; right: 0px; top:0px; bottom: 0px; border-radius: 50%; margin:auto;  margin: auto;-moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;}
.links > a:hover{ color: #719430}
.links > a:last-child:after{ display: none;}

.toogle-menu{ float: right; width:30px; margin-top: 30px; cursor:pointer;}
.toogle-menu span{ display: inline-block; vertical-align: top; width: 100%; height: 4px; border-radius:4px; margin-bottom: 6px; background: #719430; float: right; cursor: pointer;}
.toogle-menu span:last-child{ margin-bottom:0px; }

.navbar-brand{ height: auto; }
.navbar{ margin: 0px; border:none; box-shadow: 0 0 2px rgba(0,0,0,.2);}
.header-right{ padding-top:20px; font-size: 17px; font-weight: 700;}

#app-navbar-collapse{float:right;}
.top-link{ list-style: none;}
.top-link li a,.navbar-default .navbar-nav > li > a, .navbar-default .navbar-text{ display: inline-block; padding: 14px 15px; color: #719430;}
.top-link li a:hover{ color: #333; text-decoration: none; }
.dropdown-menu{ padding:0px; }
.dropdown-menu > li > a {font-weight: 400;color: #333;width: 100%;padding: 10px !important;border-bottom: solid 1px rgba(0,0,0,.1);}
.dropdown-menu > li:last-child > a{ border-bottom:none;}
.login-heading{ text-align: center; color: #08121F;font-size: 45px;line-height: 60px; font-weight: 500;border-bottom: solid 1px #F2F2F2; padding-bottom: 12px; margin-bottom: 25px;}


.content-section{ float: left: width: 100%; margin-top: 30px; }



.login-section{ float: none; display: inline-block; vertical-align: top; }
.login-section .panel-body{ text-align: left;border: solid 1px #d1d1d1;
border-radius: 5px;
padding: 45px;
box-shadow: 0 0 2px rgba(0,0,0,.1);
background: #f2f2f2;}
.login-section label,.form-horizontal .control-label{ text-transform: uppercase;color: #08121F; font-size: 16px; font-weight: 700; margin-bottom: 5px; float: left; width: 100%; text-align: left;}
.login-section .btn{ display: block; margin: auto; }

.panel-heading.heading{ border-bottom: solid 1px #719430; }
.panel-heading.heading h4{width: auto; display: inline-block; margin-bottom: 6px; margin-top:6px;  }
.panel-heading.heading span{ color:#719430; display: inline-block; font-weight: 700; margin-top: 5px;}
.sidebar ul{ margin: 0px; padding: 0px; padding-left:0px; list-style: none; }
.sidebar ul li{ margin: 0px; border-bottom: solid 1px rgba(0,0,0,.1); }
.sidebar ul li:last-child{ border-bottom:none;}
.sidebar ul li a{ padding: 13px 10px; display: block; color: #719430; }
.sidebar ul li a:hover,.sidebar ul li a.active{ background:#f1f1f1; text-decoration: none }
.sidebar .panel-body{ padding: 0px; }

.form-horizontal{ padding: 20px; }

.number-code{ color: #719430 }

.image-box{ float: left:  width: 100%; height: 250px; background: #f1f1f1; }

#profiles-view hr{ margin-top: 12px; margin-bottom: 12px; }
#profiles-view .profiles-view-click,#profiles-view center a{ color: #333; }
#profiles-view center{ font-size: 18px; font-weight: 700; text-align: left; }

.add-section{ float:left; width: 100%; margin-top: 20px; margin-bottom: 30px;}
.add-section a{ float: left; width: 100%; text-align: center; background: #f1f1f1; border-radius: 4px; padding: 15px}
.add-section a:hover{ color:#fff!important; background: #719430; text-decoration: none; }
.profiles-view-click{ float:left; width: 100%; margin-bottom:20px}
.profiles-view-click:first-child{ background: #f1f1f1;}

.services-col{ margin-bottom: 10px; margin-top: 10px; float: left; width:100%; }


/*============= popup box ============*/
#myModal button.close{margin-top: 10px;  opacity: 1; text-shadow: 0px 0px 0px; color:#88b13b; font-size: 15px; }
#myModal .modal-title{ color: #000; }
#myModal .modal-content{ padding: 25px; }
#myModal .modal-body p{ color: #000; }


.delivery-table{ margin-bottom: 30px; margin-top: 30px; }
.delivery-table td,.delivery-table th{ padding: 10px; font-size: 16px;vertical-align: middle; }
.delivery-table th{ color: #000; }
.delivery-table td:first-child{ font-weight: bold;}
.delivery-table tfoot td{ font-weight: bold; padding:15px 10px; }
.delivery-table caption{ font-size: 22px; margin-top: 26px;}

.delivery-details{ float: left; width: 100%; margin-bottom: 30px; }
.delivery-details p{ line-height: 25px; margin-bottom: 0px;}
.delivery-details b{ display: block; margin-top:20px; margin-bottom: 4px;}


.swal2-show{ top: 10%; left: 0px; right: 0px; margin: auto; }


@media screen and (min-width: 768px){
#myModal  .modal-dialog{ width: 1000px; }

} 

@media screen and (max-width: 1170px) {
#myModal  .modal-dialog{ width: 800px; }

}

@media screen and (max-width: 1024px) {
#myModal .modal-dialog{ width: 90%; margin: 25px auto;}
}


@media screen and (max-width: 991px) {

.navbar-header{ width: 100%;}
.mobile-nav{ position: fixed; right: -300px; top: 0px; width: 300px; height: 100%; background: #719430; z-index: 9999; overflow: auto;-moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;}
.mobile-nav.open-nav{ right: 0px; }
.mobile-nav .heading{ color: #fff; border-bottom: solid 1px rgba(255,255,255,.4); }
.mobile-nav ul{padding-left: 0px; margin-left: 0px; list-style:none;}
.mobile-nav ul li{ display: block; font-size: 16px;}
.mobile-nav ul li a{ color: #fff; padding:10px; display: inline-block; width: 100%;}
.mobile-nav ul li a:hover{ text-decoration: none; color: #; }

.mobile-nav .toogle-menu{ position: absolute; right: 15px; top: 15px; margin-top: 0px; }
.mobile-nav .toogle-menu span{ background: #fff; position: relative; }
.mobile-nav .toogle-menu span:nth-child(1){-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);-ms-transform: rotate(45deg); transform: rotate(45deg); top: 10px; }
.mobile-nav .toogle-menu span:nth-child(2){ display: none; }
.mobile-nav .toogle-menu span:nth-child(3){-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: rotate(-45deg);-ms-transform: rotate(-45deg); transform: rotate(-45deg); }

}



@media screen and (max-width: 767px) {
.btn {
    min-width: 107px;
    font-size: 15px;

}

h4{ font-size: 19px; }
.navbar-header{ width:inherit;}
.navbar-brand > img{ height:40px; }
.toogle-menu{ margin-top: 20px; margin-right: 15px; }
.mobile-nav .toogle-menu{margin:0px;}

.login-section label, .form-horizontal .control-label{ font-size: 14px; }
.image-box{ margin-bottom: 23px; }

.delivery-details span{ float: none!important; }
.delivery-table td, .delivery-table th{ font-size: 14px; }
.landing-body .links{ display: none; }
.landing-body .title{ margin-bottom: 0px; padding-bottom: 0px; }
.landing-btn{ margin-top: 0px!important; }

.hoz-center{position: static; width: 100%; margin-top: 300px}
.login-section{ width: 100%; }
.login-heading{ font-size: 33px; line-height: 36px }
.login-section .panel-body{ padding: 20px; }


#myModal .modal-content{ padding: 10px; }


}





